*{
    font-family: Allerta;
    background-color: #f4f3f8;
    margin: 10px;
    margin-right: 0px;
  }

  #navbarMonstera{
    display: flex;
  }

  #navFirst{
    width: 20%;
    justify-content: flex-start;
  }
  #navMid{
    display: flex;
    width: 50%;
    justify-content: space-around;
  }

  #navEnd{
    display: flex;
    width: 30%;
    justify-content: center;
  }

  #midWhole{
    display: flex;
  }

  #midWholePart13{
    display: flex;
  }

  #midWholePart1{
    width: 60%;
  }

  #midWholePart11{
    width: 70%;
    font-size: 19px;
    color: #282829;
    margin-top: 130px;
  }
  #imgMain{
    width: 530px;
    height: 610px;
  }

  #monstera{
    font-size: 90px;
    font-stretch: extra-expanded;
  }

  #navMid div:first-child{
    border: 3px solid #000;
  }